<!DOCTYPE html>
<html class="index_ejs" lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
        <script>
            const skills = <%- JSON.stringify(skills)%>;
            const entries = <%- JSON.stringify(entries)%>;
            const forms = document.querySelectorAll("form");
            let inputCheck = null;
            let button = null;
        </script>
    </head>
    <body>
        <header>
            <h1>My Skills</h1>
        </header>
        <%- include("./partials/nav.ejs") %> 
        <main>
            <section class="add-params">                
                <form action="/skill" method="post">
                    <input type="text" name="skill" placeholder="skill">
                    <input type="text" name="resource" placeholder="resource">
                    <input class="add" type="submit" value="Add">
                </form>
            </section>
            <section class="display-skills">                
                <% for(i = 0; i < skills.length; i++) {%>
                    <div class="actions-conatiner" style="margin-bottom: 7px">
                        <form action="/skill/<%= skills[i]._id %>" class="action">
                            <input type="submit" value="edit" class="action-input">
                        </form>
                        <form action="/<%= skills[i]._id %>?_method=DELETE" method="post" class="action">
                            <input type="submit" value="delete" class="action-input">
                        </form>
                    </div>                                       
                    <form name="<%=i%>" id="f<%=i%>" action="/<%= skills[i]._id %>?_method=PUT" method="post" class="container">
                        
                        <input class="checkbox" onChange="formSubmit('f<%=i%>')" type="checkbox" name="checkbox" id="<%= skills[i]._id %>">
                            <a href="<%= skills[i].resource %>" target="blank"> <div class="skill <%= skills[i].completed ? 'checked' : null %>"><%= skills[i].text %></div></a>
                            
                            <% if(skills[i].completed) {%>
                            <script>
                                inputCheck = document.getElementById(skills[<%=i%>]._id)
                                // console.log(input)
                                inputCheck.setAttribute("checked","checked")                               
                            </script>                          
                        <span class="checkmark"></span>
                    </form>                   
                        <%} %>                  
                <%} %>                            
            </section>
            <br>
            <div class="divider"></div>
            <br>
            <!-- -----------------Journals---------------------- -->
            <section class="journal-section">
                <h1 style="color: purple">Journals:</h1>
                <form action="/journal" method="post">
                    <label for="skills">Select a skill to journal:</label> <br>
                    <select name="skill" id="skills" onchange="displayDiv('hiddenDiv')" placeholder="skills">
                        <option value="">select</option>
                        <% for(skill of skills) {%>
                            <option value="<%= skill.text %>" style="display: block;"><%= skill.text %></option>
                        <%}%> 
                    </select> <br>
                    <div id="hiddenDiv" style="display: none">
                        <input id="jrnl-entry" type="text" name="entry"> <br>
                        <div class="hidden-btns">
                            <button id="cancel-jrnl" class="cancel" type="button" onclick="clearContent('jrnl-entry')">Cancel</button>
                            <input class="add" type="submit" value="Add Entry">
                        </div>                           
                    </div>                                                              
                </form> <br>
                <% for(i = entries.length-1; i >= 0; i--) {%>
                    <div class="entry-container">                       
                        <h3 style="display: inline">Skill: <%=entries[i].title%></h3> 
                        <form id="delete" action="/entry/<%= entries[i]._id %>?_method=DELETE" method="post" style="display: inline; width: fit-content">
                            <input type="submit" value="delete" form="delete">
                        </form>
                        <%if(entries[i].edited) {%> 
                        <p class="edited">Edited: <%= entries[i].updatedAt %></p>
                        <%} %> 
                        <p><%=entries[i].text%></p>
                        <p class="log"><%=entries[i].createdAt%></p>
                        <input class="hide" type="text" name="entryId" value="<%= entries[i]._id %>">
                        <div class="entry-divider"></div>
                    </div>                  
                <%}  %>                
            </section>
        </main>         
    </body>
    <script>
        function formSubmit(id){
            document.getElementById(id).submit()
        }
    </script>
    <script>
        function clearContent(id){
            const hiddenDiv = document.getElementById("hiddenDiv")
            const jrnlEntry = document.getElementById(id)
            jrnlEntry.value = null;
            
        }
    </script>                     
    <script>
        function displayDiv(id){
            const textBox = document.getElementById(id)
            if(textBox.style.display === "none"){
                textBox.style.display = "block"
            }
        }
    </script>
</html>