<!DOCTYPE html>
<html class="index_ejs" lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <%- include("./partials/header.ejs") %> 
        <main>
            <section class="add-params">                
                <form action="/skill" method="post">
                    <input type="text" name="skill" placeholder="skill">
                    <input type="text" name="resource" placeholder="resource">
                    <input type="submit" value="Add">
                </form>
            </section>
            <section class="display-skills"> 
                <script>
                    const checkboxes = document.body.querySelectorAll(".checkbox")
                </script>
                <% for(i = 0; i < skills.length; i++) {%>                    
                    <form action="/<%= skills[i]._id %>?_method=PUT" method="post" class="container <%= skills[i].completed ? 'checked' : null %>">
                        
                        <input class="checkbox" onChange="this.form.submit()" type="checkbox" name="checkbox" id="<%= skills[i]._id %>"> <a href="<%= skills[i].resource %>" target="blank"><%= skills[i].text %></a>
                        <% if(skills[i].completed) {%>
                            <script>                                
                                for(i = 0; i < checkboxes.length; i++){                                    checkbox.setAttribute("checked","checked")
                                    checkboxes[i].setAttribute("checked", "checked")
                                }    
                            
                            //    checkbox.removeAttribute("checked")
                                        
                                
                            </script> 
                            <%} %>  
                        <span class="checkmark"></span>
                    </form>
                <%} %>             
            </section>
        </main>    
    </body>
</html>